.print-only {
    display: none;
}

.web-only {

}

.keep-together {

}


@media print {

    .print-only {
        display: block;
    }

    .placeholder {
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .section, .company-overview {
        page-break-before: avoid;
    }

    .page-break {
        break-before: always;
    }

    .keep-together {
        page-break-after: avoid;
    }

    div.section {
        page-break-before: avoid;
    }

    .divider {
        page-break-after: avoid;
        margin-top: 0;
        margin-bottom: 0;
    }

    div.web-only {
        display: none;
    }

    .web-only {
        display: none;
    }

    #main-page-body {
        top: .5in;
    }

/*    div.tech-body, div.tech-para {
        line-height: 200%;
    }
*/
    .tech-print-header {
        padding-top: 1em;
    }

    a, .lang-link {
        color: black;
    }

    ul li {
        color: black;
    }

}