body {
    background-color: white;
    padding: 8px;
    font-size: 14pt;
}

div.tech-header {
    padding: 12px 16px;
    position: fixed;
    height: 75px;
    width:  100%;
    left: 0;
    top:  0;
    background-image: url("/images/Tech-header.png");
    background-attachment: fixed;
    background-position-y: top;
    background-position-x: left; 
    background-repeat:     repeat-x;
}

div.tech-print-header {
    padding: 12px 16px;
    position: absolute;
    height: 75px;
    width:  100%;
    left: 0;
    top:  0;
}

span.tech-title {
    color: white;
    font-size: 120%;
}

.tech-label {
    font-weight: normal;
    color:   white;
    opacity: 0.5;
}

.tech-body {
    padding: 65px 20px 5px 30px;
}

.tech-para {
    padding:   10px 0px 0px 0px;
    font-size: 90%;
    line-height: 135%;
}

li {
    display: list-item;
    list-style-position: outside;
    margin-top:   8px;
    margin-left:  8px;
    padding-left: 8px;
}

.tech-list-spacer {
    display: block;
    height:  6px;
}

b.primary {
    font-size: 120%;
}