@page "/"
@namespace Resume2020.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;

    string ResponsiveData = "MenuData";
}
<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tom Beale - Resume</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/grids.css">
    <link rel="stylesheet" type="text/css" href="css/columns.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/printing.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <script src="scripts/jquery-3.2.1.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/titlepos.js"></script>
    <script src="scripts/responsive.js"></script>
    <!-- script src="scripts/tagdata.js"></!-script -->
    <script src="scripts/taglist.js"></script>
    <script src="scripts/TechMap.js"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script>
        var menuData = "@ResponsiveData";
        var techKeyMap = {};
        var tagData    = [];
        var usedTags   = [];

        $(document).ready(function () {
            // --- this maps link names in the text to entries in the data store
            for (a in techMapData) {
                let d = techMapData[a];
                techKeyMap[d.Name] = d.Tag;
                tagData.push(techMapData[a].Name);
            }
        });

    </script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script>


    </script>
</body>
</html>

