<div class='section'>
    <div class='section-left'>
        Contact:
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        24215 NE Zard Ln.<br>
        Newberg, OR 97132<br>
        503 537-3064 (Home) <nobr>503 481-9421 (Cell)</nobr><br>
        Email: <a href="mailto:tom@tombeale.com">tom@tombeale.com</a><br>
        Web: <a href="http://tombeale.com">tombeale.com</a><br>
        <br>
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="tom-beale-1184962"><a class="LI-simple-link" href='https://www.linkedin.com/in/tom-beale-1184962?trk=profile-badge'>Tom Beale</a></div>
    </div>
</div>

@code {

}
