<div class='section keep-together'>
    <div class='section-left'>
        Contact:
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <b style="font-size: 150%;">Tom Beale</b><br>
        24215 NE Zard Ln.<br>
        Newberg, OR 97132<br>
        503 537-3064 (Home) <nobr>503 481-9421 (Cell)</nobr><br>
        Email:  <a href="mailto:tom@tombeale.com">tom@tombeale.com</a><br>
        Web:    <a target="_new" href="http://tombeale.com">tombeale.com</a><br>
        GitHub: <a target="_new" href="https://github.com/tombeale">github.com/tombeale</a><br>
    </div>
</div>

@code {

}
