<!-- ------------------------------- Cal State Fullerton -->
<div class='section keep-together'>
    <div class='section-left'>
        California State University<br>
        <p class="job-title">Fullerton, California</p>
    </div>
    <div class='section-right'>
        <div class="right">
            BS Program Graphic Design*<br>
            <p class="job-dates">1982-1984</p>
        </div>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        *Approximately 20 units short of earning the degree – I started work at McDonnell Douglas before my final semester.
    </div>
</div>

<!-- ------------------------------- Mt SAC -->
<div class='section keep-together'>
    <div class='section-left'>
        Mt. San Antonio Junior College<br>
        <p class="job-title">Walnut, California</p>
    </div>
    <div class='section-right'>
        <div class="right">
            AS in Advertising Design<br>
            <p class="job-dates">1980-1982</p>
        </div>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>

    </div>
</div>

@code {

}
