@inject IJSRuntime JsRuntime
<!-- ------------------------------- SWBC Corporation -->
<div class='section'>
    <div class='section-left'>
        SouthWest Business Corporation (SWBC)<br>
        <p class="job-title">Application Engineer</p>
    </div>
    <div class='section-right'>
        Tigard, Oregon<br>
        <p class="job-dates">December 2017-June 2020</p>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <div class='company-overview'>
            SouthWest Business Corporation provides insurance tracking for the insurance industry.
            I worked for the SureTrack group in Tigard as a full-time application engineer until the company closed the Portland office in October of 2019.
            Following that, my group continued worked from home, assisting in support of several applications. I retired at the end of June, 2020.
        </div>
        <ul>
            <li class="lang-tags">
                While working at SWBC I worked extensively in .Net MVC, C#, Git, Angular, TypeScript and JavaScript.
            </li>
        </ul>
    </div>
</div>

<!-- ------------------------------- Merrill Corporation -->
<div class='section'>
    <div class='section-left'>
        Merrill Corporation<br>
        <p class="job-title">Software Engineer</p>
    </div>
    <div class='section-right'>
        Oregon City, Oregon<br>
        <p class="job-dates">February 2015-October 2017</p>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <div class='company-overview'>
            Merrill Corporation provides technology-enabled platforms for secure content sharing, regulated communications and disclosure services.
            I worked for the Orindi group located in Oregon City as a full-time software engineer. My group was responsible for the software that manages
            documentation for retirement plans and medical insurance and producing printer files for large, data-intensive documents.
        </div>
        <ul>
            <li>
                While working at Merrill Corporation I was primarily focused on back-end development in C# and writing SQL scripts and stored procedures.
                The projects included file interfaces, data processing components for large-document generation, and business-layer logic for the ASP.NET
                web-based administration site. I also wrote numerous utilities to aid implementation and testing.
            </li>
            <li>
                I improved the performance of stored procedures used to validate document data before generating output.
            </li>
            <li class="lang-tags">
                I was instrumental in uplifting legacy applications to modern technologies (VB6 to C#)
            </li>
        </ul>
    </div>
</div>

<!-- ------------------------------- Genesis Financial Solutions -->

<div class='section'>
    <div class='section-left'>
        Genesis Financial Solutions<br>
        <p class="job-title">Software Engineer</p>
    </div>
    <div class='section-right'>
        Beaverton, Oregon<br>
        <p class="job-dates">October 2014-January 2015</p>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <div class='company-overview'>
            Genesis Financial Solutions provides consumer credit and loan services for branded credit card.
        </div>
        <ul>
            <li class="lang-tags">
                Worked under contract for three months in their IT department doing full-stack development in C#/ASP.Net MVC, SQL Server,
                and Razor templates using Bootstrap. Projects included writing utility functions for document extraction and manipulating
                dialer files, modifying call-center MVC applications and making changes to Stored Procedures.
            </li>
        </ul>
    </div>
</div>

<!-- ------------------------------- Innovation Asset Group -->

<div class='section'>
    <div class='section-left'>
        Innovation Asset Group<br>
        <p class="job-title">Senior User Interface Engineer</p>
    </div>
    <div class='section-right'>
        West Linn, Oregon<br>
        <p class="job-dates">March 2004-August 2014</p>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <div class='company-overview'>
            Innovation Asset Group provides a web-based application for managing trademark, copyright and <nobr>patent data.</nobr>
        </div>
        <ul>
            <li class="lang-tags">
                Principal focus was ongoing development of the core product, a web-based application for Intellectual Property management.
                This included JavaScript, HTML5, CSS3, AJAX, ASP, ASPX, C#, VB.Net, SQL (SQL Server and MySQL) and VB6
            </li>
            <li>
                Integrated IP Forecaster into the core product UI. This involved creating a .Net API to assemble calls
                in JSON plus retrieving and displaying data from a RESTful back-end service.
            </li>
            <li class="lang-tags">
                Created multiple UIs around a Java-based reporting engine. These included Faceted Search and a
                more advanced interface for designing complex queries. Communication to the back end was
                accomplished by sending and receiving JSON packages through AJAX calls to a RESTful service.
            </li>
            <li>
                Building custom controls, grids, trees and other structures to display data and allow the user to make
                and save changes.
            </li>
            <li>
                Created a user interface to allow Professional Services to create custom forms (wizards) .
            </li>
            <li>
                Optimized web pages to manage large data sets.
            </li>
            <li>
                Created debugging utilities to speed development and debug the application.
            </li>
        </ul>
    </div>
</div>

<!-- ------------------------------- Corillian Corporation -->

<div class='section'>
    <div class='section-left'>
        Corillian Corporation<br>
        <p class="job-title">User Interface Engineer II</p>
    </div>
    <div class='section-right'>
        Hillsboro, Oregon<br>
        <p class="job-dates">June 2000-Feb 2004</p>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <div class='company-overview'>
            Corillian Corporation (now Fiserv) produces and maintains online banking sites
        </div>
        <ul>
            <li class="lang-tags">
                Responsibilities included complete implementations of online banking sites for small banks and credit
                unions, using combinations of ASP, JavaScript, XML/XSLT, CSS, ODBC, SQL, Visual Basic and HTML.
            </li>
            <li>
                Integrated 3<sup>rd</sup>-party products (check imaging, eStatements, WebPay, etc).
            </li>
            <li>
                Took on several projects that were in trouble and worked with clients to get them back
                on track.
            </li>
            <li>
                Developed custom solutions to enhance Corillian products to meet customer needs. Duties included
                ASP development, database integration and interfacing with custom COM objects.
            </li>
        </ul>
    </div>
</div>

<!-- ------------------------------- McDonnell Douglas / Boeing -->

<div class='section'>
    <div class='section-left'>
        McDonnell Douglas/Boeing<br>
        <p class="job-title">Senior Graphic Designer</p>
    </div>
    <div class='section-right'>
        Long Beach, California<br>
        <p class="job-dates">Sept 1984-June 2000</p>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <div class='company-overview'>
            I worked in the Presentations department based in Long Beach, California as a graphic artist/designer.
            Presentation supported Marketing and Communications, producing everything from conference badges and
            marketing material to large government/military proposals.
        </div>
        <ul>
            <li>
                Was instrumental in taking the department from manual pre-press to digital publishing.
            </li>
            <li>
                Produced wide range of presentation materials including marketing presentations (Adobe Illustrator,
                QuarkXPress, PowerPoint, CorelDraw), web/multimedia projects (Macromedia Director, PowerPoint,
                Flash, DreamWeaver, DHTML), Proposals (QuarkXPress, PageMaker, Interleaf), Publications
                (Illustrator, PhotoShop, CorelXara) and posters for trade shows (CorelDraw, Gerber). Experienced in
                prepress and producing film from digital files.
            </li>
            <li>
                Developed web pages for the department’s intranet site. Also worked on the intranet site for the
                Reprographics department. Developed several web-based utilities (time and resource/equipment
                tracking)
            </li>
            <li>
                Acted as system administrator for an Interleaf publishing system that included three Sun file servers,
                ten Sun workstations, several scanners, printers and a Linotronic image setter.
            </li>
            <li>
                Worked closely with the in-house lithographic department (Mac-based) to ensure postscript files produced by
                Presentations (PC-based) would print correctly.
            </li>
        </ul>
    </div>
</div>

@code {
    async Task ResolveTags()
    {
        await JsRuntime.InvokeVoidAsync(identifier: "resolveTags");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ResolveTags();
    }
}
