<div class='section keep-together'>
    <div class='section-left'>
        Objective:
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        I am seeking a full or part-time Government Web Application Development Position working in front-end and/or back-end technologies.
        I live in Newberg, Oregon so my main focus is local government offices in Yamhill County, citiies within Yamhill County or the State of Oregon.
        I am willing to commute to Salem if necessary.
    </div>
</div>

@code {

}
