<div class='section keep-together'>
    <div class='section-left'>
        Objective:
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        I am seeking a full or part-time Web Application Development Position for state or local government or a non-profit organization working in front-end and/or back-end technologies.
        I live in Newberg, Oregon so my main focus is local government offices in Yamhill County, cities within Yamhill County or the State of Oregon.
        I am willing to commute to Salem if necessary.
        <Spacer Height="16px" />
        I prefer to work on site, but I am set up to work from home.
    </div>
</div>

@code {

}
