<!-- ------------------------------- Military -->
<div class='section keep-together'>
    <div class='section-left'>
        United States Army<br>
    </div>
    <div class='section-right'>
        <div class="right">
            Ft. Knox, Kentucky
            Erlangen, Germany,<br>
            Ft. Carson, Colorado
            <p class="job-dates">1974-1980</p>
        </div>
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <p>
            I Took basic and AIT training at Ft. Knox Kentucky, then went to Germany for 3 and a half years. Finished my enlistment at Ft Carson Colorado.
        </p><p>
            While in the service, I served as a Tanker (loader, driver M60-A1), Jeep Driver for my company's Execuitive Officer, company's armorer and batallion/brigade draftsman.
        </p><p>
            I was discarged honorably as a sargeant (E-5) in April, 1980.
        </p>
    </div>
</div>

@code {

}
