    <div class='section'>
        <div class='section-left'>
            Objective:
        </div>
    </div>
    <div class='section'>
        <div class="placeholder">&nbsp;</div>
        <div class='section-content'>
            Looking for a Full-time Software Engineering Position working in front-end and/or back-end technologies.
            I live in Newberg, Oregon so my main focus is in the Wilsonville / Tualatin / Oregon City / Southern Beaverton/Hillsboro / Salem areas.
        </div>
    </div>

@code {

}
