<div class='section keep-together'>
    <div class='section-left'>
        Overview:
    </div>
</div>
<div class='section'>
    <div class="placeholder">&nbsp;</div>
    <div class='section-content'>
        <ul>
            <li class="lang-tags">
                Proficient in a wide range of languages and disciplines, including C#, JavaScript, Entity Framework, LINQ, SQL, HTML5, CSS3, ASP.Net, .Net MVC, VBScript, JQuery, Visual Basic, and PHP. I have used both Microsoft SQL Server and MySQL extensively.
            </li>
            <li class="lang-tags">
                Deep experience in HTML and related technologies including traditional full-stack applications and client-side solutions that use AJAX to produce solid, responsive web-based line-of-business applications. Also proficient with HTML, CSS, JavaScript and jQuery working with the DOM to provide the user with an intuitive, interactive experience.
            </li>
            <li class="lang-tags">
                Experienced at creating back-end applications and components that communicate with databases through a variety of connections (Entity Framework/Linq, ADO, ODBC, etc.). I understand scale and large-data issues when returning query results to the end user.
            </li>
            <li class="lang-tags">
                Self-motivated, able to work alone or in a team, able to organize projects into manageable tasks, and work well with team members, clients and third-party vendors. Can "switch gears" between projects of different technologies and am adept at locating and fixing bugs.
            </li>
            <li class="lang-tags">
                Skilled designer and illustrator. Experienced with most professional graphics/design software. Experience in creating UI mock-ups and wireframes and am familiar with UX design and practices.
            </li>
        </ul>
    </div>
</div>

@code {

}
