@using System.Text.RegularExpressions

<div class="tech-para">@((MarkupString)Markup)</div>

@code {
    [Parameter]
    public string Text { get; set; }

    public string Markup { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Markup = Regex.Replace(Text, @"\<space\>", "<span class='tech-list-spacer'></span>");
    }

}
