@inherits LayoutComponentBase
<link rel="stylesheet" type="text/css" href="/css/techdetails.css">

<div class="main">@Body</div>
<div class="tech-header"><label class="tech-label">Experience:</label> <span id="tech-title"></span></div>
